
body {
    font-family: Arial, sans-serif;
    background-color: rgb(246,157,251);
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background-color: rgb(201,20,217);
    color: white;
    padding: 20px 0;
}

h1 {
    margin: 0;
    font-size: 2.5em;
}

#registration-form {
    width: 60%;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 33px rgba(47, 2, 49);
}

form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: rgb(107,5,114);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
}

button[type="submit"]:hover {
    background-color: #d8189f;
}

#student-records {
    width: 80%;
    margin: 20px auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #d51598;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: rgb(201,20,217);
}

#student-table tbody tr:hover {
    background-color: rgb(210, 185, 211)
}
